# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# Database Journals
*.db-journal